---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import heroImage from "../assets/marcela-rogante-xfPpB7Pe8NA-unsplash.jpg";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Broken retail workers wanted</h1>
      <div>
        <Image
          src={heroImage}
          alt="Panales storefront during daytime"
          loading="eager"
        />
      </div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        maxime, minus laborum non quod maiores aperiam a, repellendus vel nemo,
        perferendis impedit aliquid modi qui quas accusantium adipisci
        distinctio laudantium.
      </p>
    </main>
    <Footer />
  </body>
</html>
