---
import { Icon } from "astro-icon/components";

const today = new Date();
---

<footer class="mt-8 p-6 text-center">
  &copy; {today.getFullYear()} Retail Therapy from Team 6. All rights reserved.
  <div class="mt-4 flex justify-center gap-4">
    <a
      href="https://troylusty.itch.io/retailtherapy/"
      target="_blank"
      title="Itch.io"
    >
      <span class="sr-only">Download the game on Itch.io</span>
      <Icon
        class="h-10 w-auto transition-colors delay-100 duration-300 ease-in-out hover:text-rose-600"
        name="cib:itch-io"
      />
    </a>
    <a href="https://store.steampowered.com/" target="_blank" title="Steam">
      <span class="sr-only">Follow us on Twitter</span>
      <Icon
        class="h-10 w-auto transition-colors delay-100 duration-300 ease-in-out hover:text-blue-700"
        name="mdi:steam"
      />
    </a>
    <a href="https://twitter.com/" target="_blank" title="Twitter">
      <span class="sr-only">Follow us on Twitter</span>
      <Icon
        class="h-10 w-auto transition-colors delay-100 duration-300 ease-in-out hover:text-sky-500"
        name="mdi:twitter"
      />
    </a>
    <a href="https://instagram.com/" target="_blank" title="Instagram">
      <span class="sr-only">Follow us on Instagram</span>
      <Icon
        class="h-10 w-auto transition-colors delay-100 duration-300 ease-in-out hover:text-pink-500"
        name="mdi:instagram"
      />
    </a>
  </div>
</footer>
