---
import { SITE_TITLE } from "@consts";
import { Icon } from "astro-icon/components";
---

<header
  class="mb-12 flex items-center justify-center bg-gradient-to-r from-rose-600 via-orange-300 to-sky-400 drop-shadow-lg"
>
  <nav>
    <a href="/">
      <Icon class="m-2 h-16 w-auto drop-shadow-sm" name="logo" />
    </a>
  </nav>
</header>
