---
import { SITE_TITLE } from "@consts";
import { Icon } from "astro-icon/components";
import SteamAPI from "steamapi";

const steam = new SteamAPI(false);
let players = await steam.getGamePlayers(271590);
var playersFormatted = players.toLocaleString(undefined, {
  minimumFractionDigits: 0,
});
---

<header
  class="fixed top-0 z-50 flex w-full items-center justify-center border-b-2 border-b-white/40 bg-gradient-to-r from-rose-600 via-orange-300 to-sky-400 drop-shadow-lg"
>
  <nav
    class="mx-12 grid w-full grid-cols-1 items-center font-bold md:grid-cols-3"
  >
    <a class="flex justify-center md:col-start-2" href="/">
      <Icon
        title={SITE_TITLE}
        class="m-2 h-16 w-auto text-white drop-shadow-sm"
        name="logo"
      />
    </a>
    <div class="hidden justify-end md:visible md:flex">
      <div
        class="flex w-fit items-center gap-2 rounded-xl bg-white p-2 drop-shadow-sm"
      >
        <span class="relative flex h-3 w-3">
          <span
            class="absolute inline-flex h-full w-full animate-ping rounded-full bg-emerald-400 opacity-75"
          ></span>
          <span class="relative inline-flex h-3 w-3 rounded-full bg-emerald-500"
          ></span>
        </span>
        <p>{playersFormatted} players in-game!</p>
      </div>
    </div>
  </nav>
</header>
