---
import { SITE_TITLE } from "@consts";
---

<header
  class="flex h-16 bg-white drop-shadow-lg justify-center items-center mb-12"
>
  <nav>
    <h1
      class="text-4xl font-black bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-purple-500"
    >
      <a href="/">{SITE_TITLE}</a>
    </h1>
  </nav>
</header>
