---
import { SITE_TITLE } from "@consts";
import { Icon } from "astro-icon/components";
---

<header
  class="mb-12 flex h-16 items-center justify-center bg-white drop-shadow-lg"
>
  <nav>
    <Icon class="drop-shadow-sm w-auto h-12" name="logo" />
  </nav>
</header>
